# Example Environment Variables (Rename this to .env and change credentials)
# MySQL configurations
MYSQL_ROOT_PASSWORD=change_this_to_a_secure_root_password
MYSQL_DATABASE=daw_orchestration_db
MYSQL_USER=daw_admin
MYSQL_PASSWORD=change_this_to_a_secure_user_password
MYSQL_PORT=3306

# Spring Boot Service configurations
SPRING_PROFILES_ACTIVE=prod
BACKEND_PORT=8080

# Nginx reverse proxy configurations
NGINX_PORT=80
